@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav .nav-link,
nav .dropdown-item,
nav #dropdown,
nav #home,
nav #faq {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: black;
    margin-right: 100px;
}

nav #home:hover,
nav #dropdown:hover {
    color: rgb(20, 89, 238);
}

nav img {
    margin-left: 30px;
}

/* hubungi kami */
#hubungi-kami .content-title h3 {
    margin-top: 100px;
    text-align: center;
}

#hubungi-kami .maps iframe {
    width: 1100px;
    margin-top: 50px;
}

#hubungi-kami .content {
    display: flex;
    text-align: center;
    column-gap: 250px;
    margin-top: 50px;
}

#hubungi-kami .address i,
#hubungi-kami .phone i,
#hubungi-kami .email i {
    font-size: 35px;
    margin-bottom: 10px;
}

#hubungi-kami .address i:hover,
#hubungi-kami .phone i:hover,
#hubungi-kami .email i:hover {
    color: rgb(20, 89, 238);
}

#hubungi-kami .address p {
    width: 300px;
}

#hubungi-kami .address p,
#hubungi-kami .phone p,
#hubungi-kami .email p {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: black;
}

form,
input,
textarea,
button {
    font-family: inherit;
    font-size: initial;
}

.form-group label {
    display: block;
    margin: 2rem 0 0.5rem 0;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 1rem 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    height: 4.6rem;
}

.form-group textarea {
    resize: vertical;
}

.submit {
    background: rgb(20, 89, 238);
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: background 0.15s;
}

.submit:hover {
    background: rgba(173, 216, 230, 1);
    color: black;
}


.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border: 1px solid #1dbcfd;
}


/* footer */
#footer .third-title li {
    color: white;
}

#footer .footer-down {
    background-color: #111;
}

/* Android */
@media screen and (max-width: 480px) {
    #hubungi-kami .maps iframe {
        width: 335px;
    }

    #hubungi-kami .content {
        display: block;
    }

    #hubungi-kami .address,
    #hubungi-kami .phone,
    #hubungi-kami .email {
        margin-bottom: 20px;
    }
}